$background-color: #36384D
$font-color: #242742

$h1-size: 56px
$font-size: 16px

@font-face
    font-family: 'Roboto'
    src: url('/fonts/Roboto-Regular') format('ttf')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Roboto'
    src: url('/fonts/Roboto-Bold') format('ttf')
    font-weight: bold
    font-style: normal
    font-display: swap